*{
  position: relative;
  box-sizing: border-box;
  line-height: 1.45em;
}
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote,
pre,abbr, address, code, del, em, img, ins, kbd, q, samp,small,
strong, sub, sup,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
figcaption, figure,footer, header, hgroup, menu, nav, section, summary{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font-weight: 400;
  vertical-align:baseline;
  background:transparent;
  color: #333;
}
html{
  font-size: 62.5%;
}
body {
  line-height:1;
  overflow-wrap: break-word;
  word-break: break-all;
  background-color: #f0f0f0;
}
article,aside,details,figcaption,figure,footer,header,menu,nav,section {
  display:block;
}
nav ul {
  list-style:none;
}
a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration: none;
  color: inherit;
  position: static;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
input, select {
  vertical-align:middle;
}
input[type="submit"],button{
  border: none;
}
svg{
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
}
.svg-group{
  display: none;
}
p{
  max-width: 100%;
}
img{
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
  &.alignleft
  {
    display: block;
    margin-left: auto;
  }
  &.aligncenter
  {
    display: block;
    margin: 0 auto;
  }
  &.alignright
  {
    display: block;
    margin-right: auto;
  }
  &.alignnone
  {
    display: inline-block;
  }
}
